## <div class='alert alert-success'> Dash Callback for Graphs</div>

In [1]:
import pandas as pd
df=pd.read_csv('Data.txt')

In [2]:
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [3]:
df.shape

(1704, 6)

In [4]:
import dash
from dash import html,dcc
from dash.dependencies import Input,Output
import plotly.graph_objs as go

## Lets start with the main part

In [5]:
app=dash.Dash()

In [6]:
year_options = []
for year in df['year'].unique():
    year_options.append({'label':str(year),'value':year})

In [7]:
year_options

[{'label': '1952', 'value': 1952},
 {'label': '1957', 'value': 1957},
 {'label': '1962', 'value': 1962},
 {'label': '1967', 'value': 1967},
 {'label': '1972', 'value': 1972},
 {'label': '1977', 'value': 1977},
 {'label': '1982', 'value': 1982},
 {'label': '1987', 'value': 1987},
 {'label': '1992', 'value': 1992},
 {'label': '1997', 'value': 1997},
 {'label': '2002', 'value': 2002},
 {'label': '2007', 'value': 2007}]

In [14]:
app.layout=html.Div([
    dcc.Graph(id='graph'),
    dcc.Dropdown(id='choose-year',options=year_options,value=df['year'].min()) 
])

In [15]:
@app.callback(Output('graph', 'figure'),
              [Input('choose-year', 'value')])
def update_figure(selected_year):
    filtered_df = df[df['year'] == selected_year]
    traces = []
    for continent_name in filtered_df['continent'].unique():
        df_by_continent = filtered_df[filtered_df['continent'] == continent_name]
        traces.append(go.Scatter(
            x=df_by_continent['gdpPercap'],
            y=df_by_continent['lifeExp'],
            text=df_by_continent['country'],
            mode='markers',
            opacity=0.7,
            marker={'size': 15},
            name=continent_name
        ))
 
    return {
        'data': traces,
        'layout': go.Layout(
            xaxis={'type': 'log', 'title': 'GDP Per Capita'},
            yaxis={'title': 'Life Expectancy'},
            hovermode='closest'
        )
    }
 
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [10/Oct/2022 15:47:51] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [10/Oct/2022 15:47:51] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [10/Oct/2022 15:47:51] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [10/Oct/2022 15:47:52] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [10/Oct/2022 15:47:52] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [10/Oct/2022 15:47:52] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [10/Oct/2022 15:47:52] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [10/Oct/2022 15:47:54] "POST /_dash-update-component HTTP/1.1" 200 -

## <font color='green'> Important Points </font>

- In this example, the "value" property of the Dropdown is the input of the app and the output of the app is the "figure" property of the Graph. Whenever the value of the Dropdown changes, Dash calls the callback function update_figure with the new value. The function filters the DataFrame with this new value, constructs a figure object, and returns it to the Dash application.